@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/b11a10b450aefd4d399fb070f7c94bae?family=Sofia+Pro+Medium');
@import 'tailwindcss';

@theme {
  --font-heading: 'Montserrat', sans-serif;
  --font-main: "Sofia Pro Medium";
  --color-primary: #00A8CC;
  --color-secondary: #6C63FF;
  --text-main: #4B5563;
  --text-muted: #4B5563;

  --breakpoint-xs: 470px;

  @keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }

    --animate-wave: wave 0.6s ease-in-out infinite;
  }
}


@layer base {
  :root {
    --background: #E6EDF0;
    --foreground: #4B5563;
  }

  .dark {
    --background: #0D0D0F;
    --foreground: #E6EDF0;
  }
  
  body {
    background-color: var(--background);
  }
  
  p {
    font-family: var(--font-main);
    color: var(--foreground);
  }

  h3 {
    font-family: var(--font-heading);
    color: var(--foreground);
  }

  h1, nav {
    @apply font-heading font-extrabold;
  }

  .mobile-dropdown {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-extrabold;
  }

}

