@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
  --color-primary: #00A8CC;
  --color-secondary: #6C63FF;
  --bg-light: #0D0D0F;
  --text-main: #4B5563;
  --text-muted: #4B5563;

  --text-2xs: 10px;

  --breakpoint-xs: 523px;
  --breakpoint-2xs: 388px;
}

@layer base {
  body {
    font-family: var(--font-inter);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--color-primary);
  }

  section {
    background-color: var(--bg-light);
  }


   li {
    color: var(--text-muted);
  }

  p {
    color: var(--text-main);
  }
}


