@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
  --color-primary: #00A8CC;
  --color-secondary: #6C63FF;
  --bg-light: #0D0D0F;
  --text-main: #4B5563;
  --text-muted: #4B5563;

  --text-2xs: 10px;

  --breakpoint-xs: 523px;
  --breakpoint-2xs: 388px;

  
}

@layer base {
  :root {
    --background: #E6EDF0;
    --foreground: #111827;

    --border: #D0D7DB;
  }

  .dark {
    --background: #0D0D0F;
    --foreground: #00FFFF;
  }
  
  
  /* body {
    font-family: var(--font-inter);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--color-secondary);
  }

  section {
    background-color: var(--bg-light);
  } */


}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility card {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}


